<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.mad.travelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ViewReminderNotification"
            android:exported="false" />
        <activity
            android:name=".NewReminder"
            android:exported="false" />

        <receiver
            android:name=".BaseWidget"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/base_widget_info" />
        </receiver>

        <activity
            android:name=".RoutesActivity"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".ViewFavourites"
            android:exported="false" />
        <activity
            android:name=".ViewBusStops"
            android:exported="false" /> <!-- API 28 and above,clearTextTraffic is set to false by default, lower is true by default -->
        <activity
            android:name=".FareCalculator"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="GEOCODE_API_KEY"
            android:value="${GEOCODE_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>